.container {
  font-family: Karla;
}

nav {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 10rem;
}

.hamburger {
  display: none;
}

.main_menu {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  gap: 2rem;
  padding: 2rem;
}

li > a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
  width: min-content;
  white-space: nowrap;
}

.main_menu li > a {
  font-weight: 700;
}

.hero {
  background-color: #495e57;
  padding: 2rem;
}

.hero div {
  width: 70vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a e"
    "b e"
    "c e"
    "d e";
}

.hero picture {
  position: relative;
  grid-area: e;
}

.hero img {
  max-width: 17rem;
  height: auto;
  border-radius: 0.7rem;
  position: absolute;
  right: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
  outline: inherit;
  background-color: #f4ce14;
  text-align: center;
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: "Markazi Text";
}

h1 {
  color: #f4ce14;
}

.hero h1 {
  font-size: 3rem;
  grid-area: a;
  margin: 0;
}

.hero h3 {
  color: white;
  font-size: 1.5rem;
  grid-area: b;
  margin: 0;
}

.hero p {
  color: white;
  grid-area: c;
  padding: 1.5rem 0;
}

.hero button {
  width: 9rem;
  grid-area: d;
}

.specials_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials_heading button {
  width: 7.5rem;
  height: 2.5rem;
}

.specials {
  width: 70vw;
  margin: 4.5rem auto;
}

.special_blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.special_block {
  background-color: #edefee;
  width: 265px;
  border-radius: 1rem 1rem 0 0;
}

.special_block_header {
  display: flex;
  justify-content: space-between;
}

.special_block_header span {
  color: #ee9972;
}

.special_block img {
  border-radius: 1rem 1rem 0 0;
}

.special_block h4 {
  margin: 0;
}

.special_block_content {
  padding: 1.5rem;
}

.special_block_content a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

.delivery_btn img {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.testimonials {
  background-color: #fbdabb;
  padding: 3rem 0;
}

.testimonials_container {
  width: 70vw;
  margin: auto;
}

.testimonial_heading {
  text-align: center;
}

.testimonials_alignment {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.single_testimonial {
  background-color: white;
  padding: 1rem 2rem;
  width: 220px;
  height: 300px;
}

.single_testimonial h2 {
  text-align: center;
  line-height: 50px;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ee9972;
  color: white;
  margin: auto;
}

.single_testimonial p > i > span {
  font-weight: 700;
}

.testimonial_img-name {
  display: flex;
  align-items: center;
  gap: 10%;
  padding-top: 1rem;
}

.testimonial_img-name img {
  width: 5rem;
  border-radius: 50%;
}

.about {
  width: 70vw;
  margin: auto;
  display: flex;
  padding: 5rem 0;
  align-items: center;
  gap: 50px;
}

.about img {
  width: 50%;
  border-radius: 3%;
}

footer {
  background-color: cornsilk;
  width: 100vw;
}

.footer_container {
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: space-between;
}

.footer_navigation ul,
.footer_contact ul,
.footer_social ul {
  padding-left: 0;
  list-style: none;
}

.footer_navigation ul > li,
.footer_contact ul > li,
.footer_social ul > li {
  padding: 0.3rem 0;
}

@media screen and (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .mobileHeader {
    width: 70vw;
    display: flex;
    justify-content: space-between;
  }

  nav {
    flex-direction: column;
    padding: 2rem;
  }

  .main_menu {
    grid-auto-flow: row;
    justify-items: center;
    display: none;
  }

  .hero img {
    width: 12rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .hero img {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .footer_navigation ul,
  .footer_contact ul,
  .footer_social ul {
    text-align: center;
  }
}

@media screen and (max-width: 386px) {
  .specials_heading button {
    height: auto;
  }
}

@media screen and (min-width: 851px) {
  .main_menu {
    display: grid !important;
  }
}
